@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: #6c64fb;
    color: #fff;
    border-radius: 1rem;
    padding: 1rem;
}

.search-bar{
    display: flex;
    align-items: center;
    margin: 0.4rem;
    width: 100%;
    height: 10%;
}

.search-bar input{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    height: 2rem;
    width: 80%;
    border: 0;
    outline: 0;
    border-radius: 1rem;
    padding: 0 1rem;
}
.search-bar .search-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    margin-left: 12px;
    padding: 0.3rem;
    border: 0;
    outline: 0;
    border-radius: 50%;
}

.search-bar .search-btn i{
    font-size: 1.9rem;
    cursor: pointer;
}

.search-btn i:hover{
    color: #fff!important;
}

.temp-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.temp-info h2{
    font-weight: 600;
    margin: 0.5rem 0;
}

.temp-info img{
    height: 40vh;
    border-radius: 1rem;
}